.theme-btn {
  padding: 8px 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: var(--card);
  color: var(--text);
  transition: 0.3s;
}

.theme-btn:hover {
  transform: scale(1.05);
}